*{
    margin: 0;
    padding: 0;
}

.geral{
    height: 900px;
}

.container{
    width: 900px;
}

section{
    display: flex;
    justify-content: center;
}

.meu-menu {
    background-color: black;
}

.menu{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 70px;
}

.menu-left{
    display: flex;
    flex: 2;
}

.menu-right{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 15px;
}

.logo{
    background-image: url(../assets/img/astronauta.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: 1px;
}

.links {
    display: flex;
    align-items: center;
    margin: 10px;
}

.links, a, .rodape{
    text-decoration: none;
    margin: 7px;
    font-weight: bold;
    color: rgb(119, 119, 119);
    font-family: "Open Sans", sans serif;
}

a:hover {
    color: chocolate;
    letter-spacing: 5px;
}

.banner{
    background-image: url(../assets/img/espaco.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 200px;
}

.news{
    display: flex;
    height: 100px;
}

.news-left {
    flex: 2;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    margin: 2%;
    width: 80px;
    height: 80px;
}

.news-right {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saiba-mais {
    text-align: center;
    
 }

.titulo {
    background-image: url(../assets/img/universo.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 50px;
}

.sub-titulo {
    color: antiquewhite;
    margin: 20px;
}

.eventos {
    display: flex;
    width: 900px;
    height: 200px;
    margin: 50px;
}

.eventos-1 {
    background-image: url(../assets/img/mundosenai.png);
    margin: 3%;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-position: 5%;
    background-size: 165px;
    background-repeat: no-repeat;
    align-items: center;
}

.eventos-2 {
    background-image: url(../assets/img/inovasenai.jpg);
    margin: 3%;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-position: center;
    background-size: 130px;
    align-items: center;
}

.eventos-3 {
    background-image: url(../assets/img/grandprix.jpg);
    margin: 3%;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-position: center;
    background-size: 160px;
    align-items: center;
}

footer  {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}


.news-left-end {
    flex: 2;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    margin: 1%;
    width: 80px;
    height: 80px;
}

.news-right-end {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
}

.foto-1 {
    background-image: url(../assets/img/senai1.jpeg);
    margin: 2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 120px;
    align-items: center;
}

.foto-2 {
    background-image: url(../assets/img/senai2.jfif);
    margin: 2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: 120px;
    align-items: center;
}