*{
    margin: 0;
    padding: 0;
}

.geral{
    height: 900px;
}

.container{
    width: 900px;
}

section{
    display: flex;
    justify-content: center;
}

.meu-menu {
    background-color: black;
}

.menu{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 70px;
}

.menu-left{
    display: flex;
    flex: 2;
}

.menu-right{
    display: flex;
    flex: 1;
}

.logo{
    background-image: url(../assets/img/astronauta.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: 1px;
}

.links {
    display: flex;
    align-items: center;
    margin: 10px;
}

.links, a {
    text-decoration: none;
    margin: 7px;
    font-weight: bold;
    color: darkgray;
    font-family: "Open Sans", sans serif;
}

a:hover {
    color: chocolate;
    letter-spacing: 5px;
}

.banner{
    display: flex;
    background-color: cadetblue;
    height: 200px;
}

.news{
    display: flex;
    height: 100px;
}

.news-left {
    flex: 2;
    background-color: bisque;
}

.news-right {
    flex: 1;
    background-color: blue;
}

.titulo {
    background-color: greenyellow;
}

.eventos {
    display: flex;
    width: 900px;
    height: 200px;
}

.eventos-1,
.eventos-2,
.eventos-3 {
    flex: 1;
    background-color: darkseagreen;
    margin: 10px;
}

footer {
    background-color: green;
}